{% extends "base.html" %}
{% block title %}Nuevo {{ grupo }}{% endblock %}
{% block menu.usuarios %}active{% endblock %}
{% block page.header %}Información del Objeto{% endblock %}
{% block page.content %}
<div class="col-xs-12">
<div class="box box-danger">
	<div class="box-header with-border">
		<h3 class="box-title">Add Item Information</h3>
	</div>
	<div class="box-body">
		<form method="POST" action="">{% csrf_token %}
        	<div class="row margin-bottom">
                <div class="col-xs-4">
                	<label>{{ form.CLD01.label }}</label>
                	<div class="input-group">
                		{{ form.CLD01 }}
                		<div class="input-group-addon">
                			<i class="fa fa-circle-o-notch"></i>
                		</div>
	                </div>
	                {{ form.CLD01.errors }}
                </div>
                <div class="col-xs-4">
                	<label>{{ form.CLD02.label }}</label>
                	<div class="input-group">
                		{{ form.CLD02 }}
                		<div class="input-group-addon">
                			<i class="fa fa-cubes"></i>
                		</div>
	                </div>
	                {{ form.CLD02.errors }}
                </div>
                <div class="col-xs-4">
                	<label>{{ form.CLD03.label }}</label>
                	<div class="input-group">
                		{{ form.CLD03 }}
                		<div class="input-group-addon">
                			<i class="fa fa-qrcode"></i>
                		</div>
	                </div>
	                {{ form.CLD03.errors }}
                </div>
            </div>
            <div class="row margin-bottom">
            <div class="col-xs-4">
                <label>Measurement Qualifier:</label>
                <div class="form-group">
                        <select name="MEA02" class="form-control select2" style="width:100%;">
                            <option value="LN">Lenght</option>
                            <option value="TH">Thickness</option>
                            <option value="WD">Width</option>
                            <option value="WT">Weight</option>
                        
                        </select>
                    </div>
                    {{ form.MEA02.errors }}
                </div>
                <div class="col-xs-4">
                    <label>Measurement Value</label>
                    <div class="input-group">
                        {{ form.MEA03 }}
                        <div class="input-group-addon">
                            <i class="fa fa-barcode"></i>
                        </div>
                        {{ form.MEA03.errors }}
                    </div>
                </div>
                <div class="col-xs-4">
                    <label>Unit</label>
                    <div class="input-group">
                        {{ form.MEA04 }}
                        <div class="input-group-addon">
                            <i class="fa fa-barcode"></i>
                        </div>
                        {{ form.MEA04.errors }}
                    </div>
                </div>
            </div>

            <div class="row margin-bottom">
            <div class="col-xs-4">
                <label>Measurement Qualifier:</label>
                <div class="form-group">
                        <select name="MEA202" class="form-control select2" style="width:100%;">
                            <option value="TH">Thickness</option>
                            <option value="LN">Lenght</option>
                            <option value="WD">Width</option>
                            <option value="WT">Weight</option>
                        
                        </select>
                    </div>
                    {{ form.ME2A02.errors }}
                </div>
                <div class="col-xs-4">
                    <label>Measurement Value</label>
                    <div class="input-group">
                        {{ form.MEA203 }}
                        <div class="input-group-addon">
                            <i class="fa fa-barcode"></i>
                        </div>
                        {{ form.MEA203.errors }}
                    </div>
                </div>
                <div class="col-xs-4">
                    <label>Unit</label>
                    <div class="input-group">
                        {{ form.MEA204 }}
                        <div class="input-group-addon">
                            <i class="fa fa-barcode"></i>
                        </div>
                        {{ form.MEA204.errors }}
                    </div>
                </div>
            </div>
            <div class="row margin-bottom">
            <div class="col-xs-4">
                <label>Measurement Qualifier:</label>
                <div class="form-group">
                        <select name="MEA302" class="form-control select2" style="width:100%;">
                            <option value="WD">Width</option>
                            <option value="LN">Lenght</option>
                            <option value="TH">Thickness</option>
                            <option value="WT">Weight</option>
                        
                        </select>
                    </div>
                    {{ form.MEA302.errors }}
                </div>
                <div class="col-xs-4">
                    <label>Measurement Value</label>
                    <div class="input-group">
                        {{ form.MEA303 }}
                        <div class="input-group-addon">
                            <i class="fa fa-barcode"></i>
                        </div>
                        {{ form.MEA303.errors }}
                    </div>
                </div>
                <div class="col-xs-4">
                    <label>Unit</label>
                    <div class="input-group">
                        {{ form.MEA304 }}
                        <div class="input-group-addon">
                            <i class="fa fa-barcode"></i>
                        </div>
                    {{ form.MEA304.errors }}
                    </div>
                </div>
            </div>
            <div class="row margin-bottom">
            <div class="col-xs-4">
                <label>Measurement Qualifier:</label>
                <div class="form-group">
                        <select name="MEA402" class="form-control select2" style="width:100%;">
                            <option value="WT">Weight</option>
                            <option value="LN">Lenght</option>
                            <option value="TH">Thickness</option>
                            <option value="WD">Width</option>
                        
                        </select>
                    </div>
                    {{ form.MEA402.errors }}
                </div>
                <div class="col-xs-4">
                    <label>Measurement Value</label>
                    <div class="input-group">
                        {{ form.MEA403 }}
                        <div class="input-group-addon">
                            <i class="fa fa-barcode"></i>
                        </div>
                        {{ form.MEA403.errors }}
                    </div>
                </div>
                <div class="col-xs-4">
                    <label>Unit</label>
                    <div class="input-group">
                        {{ form.MEA404 }}
                        <div class="input-group-addon">
                            <i class="fa fa-barcode"></i>
                        </div>
                        {{ form.MEA404.errors }}
                    </div>
                </div>
            </div>



            <div class="row">
	    		<div class="col-xs-4">
	    			<input type="submit" value="Add item and create order" name="order" class="btn btn-block btn-social btn-primary" />
	    		</div>
	    		<div class="col-xs-4">
	    			<input type="submit" value="Add item and create item" name="item" class="btn btn-block btn-social btn-primary" />
	    		</div>
	    		<div class="col-xs-4">
	    			<input type="submit" value="Save everything and exit" name="next" class="btn btn-block btn-social btn-primary"/>
	    		</div>
	    	</div>
        </form>
	</div>
</div>
</div>
{% endblock %}


