{% extends "base.html" %}
{% block title %}Relaciones Comerciales{% endblock %}
{% block menu.relacion %}active{% endblock %}
{% block menu.relacion.ver %}active{% endblock %}
{% block page.header %}Socios Comerciales{% endblock %}
{% block breadcrumb.1 %}Ver{% endblock %}
{% block breadcrumb.2 %}Relaciones Comerciales{% endblock %}
{% block page.content %}
<div class="col-xs-12">
{% if companies|length > 0 %}
<div class="box">
	<div class="box-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Dirección EDI</th>
          <th>Razón Social</th>
          <th>E-mail</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for company in companies %}
          <tr>
            <td><a href={% url 'view_company' company.id %}>{{ company.C_Edi_Address }}</a></td>
            <td>{{ company.C_Name }}</td>
            <td>{{ company.C_E_mail }}</td>
            <td align="center">
                <div class="btn-group">
                  <a href={% url 'view_company' company.id %}  class="btn btn-primary btn-flat">Ver</a>
                  {% if perms.address.change_company_data %}
                  <button type="button" class="btn btn-primary btn-flat dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                     <li><a href={% url 'edit_company' company.id %}>Editar</a></li>
                  {% if perms.address.delete_company_data %}
                     <li><a href={% url 'delete_company' company.id %}>Eliminar</a></li>
                  {% endif %}
                  </ul>
                     {% endif %}
                </div>
                </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% else %}
<div class="register-box">
  <div class="register-box-body">
    <p class="login-box-msg">¡Asocie una dirección EDI a su empresa!</p>
    <div class="input-group-btn">
      <a href={% url 'new_company' %}><button type="button" class="btn btn-block btn-primary btn-flat">Asociar Dirección</button></a>
    </div>
  </div>
</div>
{% endif %}
</div>
<div class="col-xs-12">
{% if partners|length > 0 %}
<div class="box">
  <div class="box-header">
  </div>
  <div class="box-body">
    <table id="table2" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Dirección EDI</th>
          <th>Razón Social</th>
          <th>E-mail</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {% for partner in partners %}
          <tr>
            <td><a href={% url 'view_partner' partner.id %}>{{ partner.P_Edi_Address }}</a></td>
            <td>{{ partner.P_Name }}</td>
            <td>{{ partner.P_E_mail }}</td>
            <td align="center">
                <div class="btn-group">
                  <a href={% url 'view_partner' partner.id %}  class="btn btn-primary btn-flat">Ver</a>
                  {% if perms.address.change_company_data %}
                  <button type="button" class="btn btn-primary btn-flat dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                     <li><a href={% url 'edit_partner' partner.id %}>Editar</a></li>
                  {% if perms.address.delete_company_data %}
                     <li><a href={% url 'delete_partner' partner.id %}>Eliminar</a></li>
                  {% endif %}
                  </ul>
                     {% endif %}
                </div>
                </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% else %}
<div class="register-box">
  <div class="register-box-body">
    <p class="login-box-msg">¡Asocie una dirección EDI a un socio Comercial!</p>
    <div class="input-group-btn">
      <a href={% url 'new_partner' %}><button type="button" class="btn btn-block btn-primary btn-flat">Crear Socio Comercial</button></a>
    </div>
  </div>
</div>

{% endif %}
</div>
{% endblock %}
{% block aditional.css %}{% load staticfiles %}<link rel="stylesheet" href="{% static 'js/plugins/datatables/dataTables.bootstrap.css' %}">{% endblock %}
{% block aditional.js %}
{% load staticfiles %}<script src="{% static 'js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
{% load staticfiles %}<script src="{% static 'js/plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
  });
</script>
<script>
  $(function () {
    $("#table2").DataTable();
    $('#table').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
  });
</script>
{% endblock %}