{% extends "base.html" %}
{% block title %}Traducir archivo EDI{% endblock %}
{% block menu.edi %}active{% endblock %}
{% block menu.edi.traducir %}active{% endblock %}
{% block page.header %}Traducir archivo EDI{% endblock %}
{% block page.content %}
<div class="col-xs-12">		
<div class="register-box">
	<div class="register-box-body">
	{{ id_edi }}<br>
	{{ edi_files }}
	{% if edi_files %}
		{% for edi in edi_files %}
			{{ edi.id }}
			{{ edi.flag }}
			{{ edi.edi_file }}
		{% endfor %}
	{% endif %}
	    <form id="upload"  enctype="multipart/form-data" method="post">{% csrf_token %}
	    	<button type="submit" class="btn btn-primary btn-block btn-flat">Traducir</button>
	    	<input id="upload" type="file" name="docfile"/>
	    </form>


    </div>
</div>
</div>
{% endblock %}
{% block aditional.js %}
 <script>
 $(function () {
var div = document.createElement('div');
return ('draggable' in div) || ('ondragstart' in div && 'ondrop' in div)
});</script>
<script type="text/javascript">$(function (){return 'FormData' in window;});</script>
{% endblock %}