{% extends "base.html" %}
{% block title %}Traducir archivo EDI{% endblock %}
{% block menu.edi %}active{% endblock %}
{% block menu.edi.traducir %}active{% endblock %}
{% block page.header %}Traducir archivo EDI{% endblock %}
{% block breadcrumb.1 %}EDI{% endblock %}
{% block breadcrumb.2 %}Traducir{% endblock %}
{% block page.content %}
<div class="col-xs-12">		
<div class="register-box box-primary">
	
    
    <div class="box box-primary">
    	<div class="box-header">
    		<h3 class="box-title">Cargar Archivo EDI</h3>
    	</div>
    	<div class="box-body">
    		<form id="upload" enctype="multipart/form-data" method="post">
    			{% csrf_token %}
    			<div class="box-body">
    				<input id="upload" type="file" name="docfile" class="inputfile inputfile-5" data-multiple-caption="{count} files selected" multiple />
    			</div>
    			<button type="submit" class="btn btn-primary btn-block btn-flat">Traducir</button>
    		</form>
    	</div>
    </div>
</div>
</div>

{% endblock %}
{% block aditional.css%}
{% load staticfiles %}<link rel="stylesheet" type="text/css" href="{% static "css/component.css" %}"/>

{% endblock %}
{% block aditional.js %}

{% endblock %}