{% extends "starter.html" %}
{% block title %}Error 404{% endblock %}
{% block body.class %}login-page{% endblock %}
{% block body.background %}style="background-image: url('/static/img/overlay.png'), url('/static/img/background.jpg');background-size: auto,cover;"{% endblock %}
{% block body.login %}
  <div class="login-box">
    <div class="login-box-body">
      <div class="login-logo">
        <img src="/static/img/logo.png" alt="Home" style="max-width: 100%;">
        <H1 style="text-align: center;">Error 404</H1>
      </div>      
    </div>
      <H2 style="text-align: center; color:white;">PÁGINA NO ENCONTRADA</H2>
  </div>
{% endblock %}



