{% extends "starter.html" %}  
{% block body.dashboard %}
  <div class="wrapper">
    <header class="main-header">
      <a href="/" class="logo">
        <span class="logo-mini">{% load staticfiles %}<img src="{% static 'img/logo-min.png' %}" alt="Home"></span>
        <span class="logo-lg">{% load staticfiles %}<img src="{% static 'img/logo-blank.png' %}" alt="Home" style="max-height: 50px; max-width: 200px"></span>
      </a>
      <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"></a>
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
          <!-- Menu -->
            <li><a href={% url 'logout' %}><i class="fa fa-sign-out"></i><span class="hidden-xs"> Cerrar Sesión</span></a></li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <section class="sidebar">
        <div class="user-panel">
          <div class="pull-left image">
            <img src="{% static 'img/no-photo.jpg' %}" class="user-image" alt="Foto de Pérfil" style="border-radius: 50%;">
          </div>
          <div class="pull-left info">
            <p>{{ request.user.first_name }} {{ request.user.last_name }} {{ request.sessions.all }}</p>
            <a href="#"><i class="fa fa-circle text-success"></i> {{ request.user.groups.first|default_if_none:"Developer"|capfirst }}</a>
          </div>
        </div>
        <ul class="sidebar-menu">
          <li class="{% block menu.inicio %}{% endblock %}"><a href={% url 'view_tradings' %}><i class="fa fa-dashboard"></i><span> Inicio</span></a></li>
          {% if perms.address.add_company_data %}
          <li class="treeview {% block menu.relacion %}{% endblock %}">
          <a href="#">
            <i class="fa fa-clone"></i> <span>Relaciones Comerciales</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li class="{% block menu.relacion.ver %}{% endblock %}"><a href={% url 'view_tradings' %}><i class="fa fa-table"></i> Ver Relaciones Comerciales</a></li>
            <li class="{% block menu.relacion.empresa %}{% endblock %}"><a href={% url 'new_company' %}><i class="fa fa-building-o"></i> Nueva Dirección Propia</a></li>
            <li class="{% block menu.relacion.socio %}{% endblock %}"><a href={% url 'new_partner' %}><i class="fa fa-users"></i> Nuevo Socio Comercial</a></li>
          </ul>
        </li>
        {% endif %}
        {% if perms.data_mining.add_edi_address %}        
        <li class="treeview {% block menu.edi %}{% endblock %}">
          <a href="#">
            <i class="fa fa-clone"></i> <span>Traduccion</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li class="{% block menu.edi.ver %}{% endblock %}"><a href={% url 'view_edis' %}><i class="fa fa-table"></i> Ver Traducciones</a></li>
            <li class="{% block menu.edi.traducir %}{% endblock %}"><a href={% url 'edi_translator' %}><i class="fa fa-language"></i> Traducir Nuevo Archivo</a></li>
          </ul>
        </li>{% endif %}
        {% if perms.data_generator.add_data_generator_master %}
        <li class="treeview {% block menu.generar %}{% endblock %}">
          <a href="#">
            <i class="fa fa-clone"></i> <span>Generar</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li class="{% block menu.generar.ver %}{% endblock %}"><a href={% url 'render_list' %}><i class="fa fa-table"></i> Ver Archivos Generados</a></li>
            <li class="{% block menu.generar.nuevo %}{% endblock %}"><a href={% url '856' %}><i class="fa fa-file-o"></i> Generar Nuevo Archivo</a></li>
          </ul>
        </li>{% endif %}
          {% if perms.auth.add_user %}
          <li class="{% block menu.usuarios %}{% endblock %}"><a href={% url 'usuarios' %}><i class="fa fa-users"></i><span> Usuarios</span></a></li>
          {% endif %}
          <li><a href={% url 'logout' %}><i class="fa fa-sign-out"></i><span> Cerrar Sesión</span></a></li>
        </ul>
      </section>
    </aside>
    
    <div class="content-wrapper">
      {% block extra.content %}
      <section class="content-header">
        <h1>{% block page.header %}Home{% endblock %}</h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i>Dashboard</a></li>
          <li>{% block breadcrumb.1 %}Home{% endblock %}</li>
          <li class="active">{% block breadcrumb.2 %}Home{% endblock %}</li>
        </ol>
      </section>
      {% block message %}{% endblock %}
      <section class="{% block section.class %}content{% endblock %}">
        <div class="row">
          {% block page.content %}
          {% endblock %}
        </div>
      </section>
      {% endblock %}
    <div class="clearfix"></div>
    </div>
    <footer class="main-footer no-print">
      <div class="pull-right hidden-xs">Todos los derechos Reservados.</div>
      <strong>Copyright &copy; Böllhoff {% now "Y" %} |</strong> <a href="http://consulta-its.com" target="_blank">consulta-its</a>.
    </footer>
  </div>
{% endblock %}
