{% extends "starter.html" %}  
{% block body.dashboard %}
  <div class="wrapper">
    <header class="main-header">
      <a href="/" class="logo">
        <span class="logo-mini"><img src="/static/img/logo-min.png" alt="Home"></span>
        <span class="logo-lg"><img src="/static/img/logo-blank.png" alt="Home" style="max-height: 50px; max-width: 200px"></span>
      </a>
      <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"></a>
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
          <!-- Menu -->
            <li><a href="/logout"><i class="fa fa-sign-out"></i><span class="hidden-xs"> Cerrar Sesión</span></a></li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <section class="sidebar">
        <div class="user-panel">
          <div class="pull-left image">
            <img src="/static/img/no-photo.jpg" class="user-image" alt="Foto de Pérfil" style="border-radius: 50%;">
          </div>
          <div class="pull-left info">
            <p>{{ request.user.first_name }} {{ request.user.last_name }} {{ request.sessions.all }}</p>
            <a href="#"><i class="fa fa-circle text-success"></i> {{ request.user.groups.first|default_if_none:"Developer"|capfirst }}</a>
          </div>
        </div>
        <form action="#" method="get" class="sidebar-form">
          <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Buscar...">
            <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </form>
        <ul class="sidebar-menu">
          <li class="{% block menu.inicio %}{% endblock %}"><a href="/"><i class="fa fa-dashboard"></i><span> Inicio</span></a></li>

       <li class="treeview">
          <a href="#">
            <i class="fa fa-clone"></i> <span>EDI</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/forms/general.html"><i class="fa fa-edit"></i> Generar EDI</a></li>
            <li><a href="pages/forms/advanced.html"><i class="fa fa-language"></i> Traducir EDI</a></li>
          </ul>
        </li>

        {% ifequal user.groups.all.0 'administrador' %}
          <li class="{% block menu.usuarios %}{% endblock %}"><a href="/usuarios"><i class="fa fa-users"></i><span> Usuarios</span></a></li>
          {% endifequal%}
          <li class="{% block menu.perfil %}{% endblock %}"><a href="#perfil"><i class="fa fa-user"></i><span> Perfil</span></a></li>
          <li class="{% block menu.configuracion %}{% endblock %}"><a href="#ajustes"><i class="fa fa-wrench"></i><span> Configuración</span></a></li>
          <li><a href="/logout/"><i class="fa fa-sign-out"></i><span> Cerrar Sesión</span></a></li>
        </ul>
      </section>
    </aside>
    <div class="content-wrapper">
      <section class="content-header">
        <h1>{% block page.header %}Home{% endblock %}</h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i>Dashboard</a></li>
          <li>Breadcrmb</li>
          <li class="active">Here</li>
        </ol>
      </section>
      <section class="content">
        <div class="row">
          {% block page.content %}
          {% endblock %}
        </div>
      </section>
    </div>
    <footer class="main-footer">
      <div class="pull-right hidden-xs">Todos los derechos Reservados.</div>
      <strong>Copyright &copy; Böllhoff {% now "Y" %} |</strong> <a href="http://consulta-its.com" target="_blank">consulta-its</a>.
    </footer>
    <div class="control-sidebar-bg"></div>
  </div>
{% endblock %}