<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EDI Translator | {% block title %}Böllhoff{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% load staticfiles %}<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    {% load staticfiles %}<link rel="stylesheet" href="{% static "css/AdminLTE.css" %}">
    {% load staticfiles %}<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    {% load staticfiles %}<link rel="stylesheet" href="{% static "css/ionicons.min.css" %}">
    {% load staticfiles %}<link rel="stylesheet" href="{% static "css/panel.min.css" %}">
    {% load staticfiles %}<link rel="stylesheet" href="{% static "css/AdminLTE.css" %}">
    {% load staticfiles %}<link rel="stylesheet" href="{% static "css/skins/skin-blue.min.css" %}">
    {% load staticfiles %}<link rel="stylesheet" href="{% static "js/plugins/select2/select2.min.css" %}">
    {% load staticfiles %}<link rel="icon" type="image/png" sizes="32x32" href="{% static "icons/favicon-32x32.png" %}">
    {% load staticfiles %}<link rel="icon" type="image/png" sizes="96x96" href="{% static "icons/favicon-96x96.png" %}">
    {% load staticfiles %}<link rel="icon" type="image/png" sizes="16x16" href="{% static "icons/favicon-16x16.png" %}">
    {% load staticfiles %}<link rel="manifest" href="{% static "icons/manifest.json" %}">
    <script>(function(e,t,n){var r=e.querySelectorAll("html")[0];r.className=r.className.replace(/(^|\s)no-js(\s|$)/,"$1js$2")})(document,window,0);</script>
    {% load staticfiles %}<script src="{% static "js/plugins/filezone/custom-file-input.js" %}"></script>
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    {% block aditional.css %}{% endblock %}
  </head>


  <body class="hold-transition {% block body.class %}skin-blue sidebar-mini{% endblock %}" {% block body.background %}{% endblock %}>


{% block body.login %}{% endblock %}
{% block body.dashboard %}{% endblock %}

  {% load staticfiles %}<script src="{% static "js/jQuery-2.1.4.min.js" %}"></script>
  {% load staticfiles %}<script src="{% static "js/bootstrap.min.js" %}"></script>
  {% load staticfiles %}<script src="{% static "js/app.min.js" %}"></script>
  {% load staticfiles %}<script src="{% static "js/plugins/fastclick/fastclick.min.js" %}"></script>
  {% load staticfiles %}<script src="{% static "js/plugins/slimScroll/jquery.slimscroll.min.js" %}"></script>
  {% block aditional.js %} {% endblock %}
</body>
</html>
