{% extends "base.html" %}
{% block title %}Visualizar EDI{% endblock %}

{% block menu.generar %}active{% endblock %}
{% block menu.generar.ver %}active{% endblock %}
{% block page.header %}Ver archivos EDI{% endblock %}
{% block page.content %}
<form role="form">

  <div class="example-modal">
	<div class="modal">
		<div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <input type="text" class="form-control" id="input-fileName" value="{{ edi.BST03 }}-{{ edi.BST04 }}" placeholder="Enter file name">
              </div>
              <div class="modal-body">
<textarea id="textarea" class="form-control" rows="10" readonly style="background:#fff">{% if edi %}ISA*00*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*00*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*ZZ*814592838-SE&nbsp;&nbsp;&nbsp;*ZZ*4421742122
ST*{{ edi.ST01 }}*{{ edi.ST02 }}
BSN*{{ edi.BST01 }}*{{ edi.BST02 }}*{{ edi.BST03 }}*{{ edi.BST04 }}
DTM*{{ edi.DTM01 }}*{{ edi.BST03 }}*{{ edi.BST04 }}*{{ edi.DTM04 }}
{% if hl %}{% for header in hl %}HL*{{ header.HL01 }}*{{ header.HL02 }}*{{ header.HL03 }}
{% if header.HL03 == 'S' %}MEA*{{ edi.MEA01 }}*{{ edi.MEA02 }}*{{ edi.MEA03 }}*{{ edi.MEA04 }}
TD1*{{ edi.TD101 }}*{{ edi.TD102 }}
TD5*{{ edi.TD501 }}*{{ edi.TD502 }}*{{ edi.TD503 }}*{{ edi.TD504 }}
TD3*{{ edi.TD301 }}*{{ edi.TD302 }}*{{ edi.TD303 }}
REF*{{ edi.REF01 }}*{{ edi.REF02 }}
{% elif header.HL03 == 'O' %}{% for ord in order %}LIN**{{ ord.LIN02 }}*{{ ord.LIN03 }}
SN1**{{ ord.SN102 }}*{{ ord.SN103 }}*{{ ord.SN104 }}
PRF*{{ ord.PRF01 }}{% endfor %}
{% elif header.HL03 == 'I' %}CLD*{{ header.CLD01 }}*{{ header.CLD02 }}*{{ header.CLD03 }}{% endif %}{% endfor %}{% endif %}
CTT*55*345
SE*56*{{ edi.ST02 }}{% else %}error{% endif %}</textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                <button id="btn-save" type="submit" class="btn btn-primary">Descargar Archivo</button>
              </div>
            </div>
          </div>
        </div>
      </div>
</form>


{% endblock %}
{% block aditional.css %}
<style>
.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}
    .example-modal .modal {
      position: relative;
      top: auto;
      bottom: auto;
      right: auto;
      left: auto;
      display: block;
      z-index: 1;
    }

    .example-modal .modal {
      background: transparent !important;
    }
  </style>
{% endblock %}
{% block aditional.js %}
{% load staticfiles %}<script src="{% static "js/FileSaver.min.js" %}"></script>
<script>
$("#btn-save").click( function() {
  var text = $("#textarea").val();
  var filename = $("#input-fileName").val()
  var blob = new Blob([text], {type: "text/plain;charset=utf-8"});
  saveAs(blob, filename);
});</script>
{% endblock %}