{% extends "base.html" %}
{% block title %}Visualizar EDI{% endblock %}

{% block menu.generar %}active{% endblock %}
{% block menu.generar.ver %}active{% endblock %}
{% block page.header %}Ver archivos EDI{% endblock %}
{% block page.content %}
<div class="col-xs-12">
<div class="box">
	{% if edi_files %}
		<div class="register-box-body">
			<table id="example1" class="table table-bordered table-striped">
				<thead>
				<tr>
			        <th>#</th>
			        <th>Nombre del Archivo</th>
			        <th>Fecha de Subida</th>
			        <th></th>
		        </tr>
		        </thead>
		        <tbody>
		        {% for file in edi_files %}
		        	<tr>
		        	<td>{{ forloop.counter }}</td>
              <td><a href="{{ file.id }}">{{ file.BST03 }}-{{ file.BST04 }}</a></td>
		        	<td>{{ file.BST03|slice:"6:" }} - {{ file.BST03|slice:"4:-2" }} - {{ file.BST03|slice:":4" }}</td>
		        	<td align="center">
		        	{% if file.flag == 0 %} 
		        		<a href="/edi/traducir/{{ file.id }}"><button type="button" class="btn btn-danger">Traducir</button></a>
		        	{% else %}
		        		<div class="btn-group">
		        			<a href="{{ file.id }}"  class="btn btn-primary btn-flat">Ver</a>
		        			<button type="button" class="btn btn-primary btn-flat dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="editar/{{ file.filename }}">Editar</a></li>
                    <li><a href="#">Descargar EDI</a></li>
                    <li><a href="#">Descargar PDF</a></li>
                    <li class="divider"></li>
                    <li><a href={% url 'delete_edi' file.id %}>Eliminar</a></li>
                  </ul>
                </div>
		        		{% endif %}</td>
		        	</tr>
		        {% endfor %}
		      </tbody>
		    </table>
    	</div>
    {% else %}
    <div class="register-box">
    	<div class="register-box-body">
    		<p class="login-box-msg">No se encontraron archivos.<br>¡Crea tu primer archivo!</p>
    <div class="input-group-btn">
      <a href="/crear/856/"><button type="button" class="btn btn-block btn-primary btn-flat">Crear Archivo</button></a>
    </div>
  </div>
</div>

	{% endif %}
</div>
</div>
{% endblock %}
{% block aditional.css %}<link rel="stylesheet" href="/static/js/plugins/datatables/dataTables.bootstrap.css">{% endblock %}
{% block aditional.js %}
<script src="/static/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/js/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
  });
</script>
{% endblock %}